.container
  .profilePage
    .profilePage_account
      = current_user.account
  .profilePage_user
    .profilePage_user_image
      = image_tag 'default-avatar.png'
  .profilePage_value
    .profilePage_value_posts
      .profilePage_value_posts_count
        %p 44
      .profilePage_value_posts_text
        %p Posts
    .profilePage_value_followers
      .profilePage_value_followers_count
        %p 110
      .profilePage_value_followers_text
        %p Followers
    .profilePage_value_following
      .profilePage_value_following_count
        %p 44
      .profilePage_value_following_text
        %p Following
    .profilePage_
