.container
  .comment#photo-show{data: {photo_id: @photo.id}}
    %h2 Comment
  .comments-container
  .btn-secondary.show-comment-form
    = image_tag 'comment.png'
  .comment-text-area.hidden
    = text_area_tag :comment_content, ''
    .btn-secondary.add-comment-button
      = image_tag 'comment.png'

= javascript_pack_tag 'comment'
