.container
  .comment#photo-show{data: {photo_id: @photo.id}}
    %h2 Comment
  .comments-container
  -# - @comments.each do |comment|
  -#   .comment_detail
  -#     = image_tag comment.user.avatar_image
  -#     .comment_wrap
  -#       .comment_wrap_name
  -#         %p= comment.user.account
  -#       .comment_wrap_content
  -#         %p= comment.content
  = link_to new_photo_comment_path(@photo) do
    .btn-secondary
      = image_tag 'comment.png'

= javascript_pack_tag 'comment'
