@import 'variables';

$avatar-size: 40px;
$back-icon-size: 16px;

.header {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: $base-bg-color;
  padding: 10px 16px 0 16px;
  font-weight: bold;

  &_logos {
    width: 40px;
    min-width: 0;
    display: flex;

    img {
      cursor: pointer;
      width: $back-icon-size;
      height: $back-icon-size;
      margin: ($avatar-size - $back-icon-size) / 2 8px 0;
    }
  }

  &_pageTitle {
    color: #000000;
    line-height: $avatar-size;
    font-size: $font-lg;
  }

  &_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $avatar-size;
    height: $avatar-size;
    border: 1px solid #E91E63;
    border-radius: 100%;

    &_img {
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
  }
}

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
