@import './variables';

$heart-size: 16px;
$avatar-size: 30px;
$icon_size: 16px;

.photo {
  margin: 32px 0;

  &_detail {
    padding-bottom: 11px;
    cursor: pointer;
    display: flex;
    font-size: 10px;

    img {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 8px;
    }
  }

  &_image_three {
    display: grid;
    gap: 8px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 110px 110px;

    &_first {
      grid-column: 1 / 2;
      grid-row: 1 / 3;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &_second {

      img {
        width: 100%;
        height: 100%;
      }
    }

    &_third {

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &_image_two {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;

    &_first {
      grid-column: 1 / 2;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &_second {

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &_image_one {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: 220px;

    &_first {

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &_icon {
    display: flex;
    padding-top: 12px;
    padding-bottom: 9px;

    &_heart {
      padding-right: 14px;

      img {
        cursor: pointer;
        width: $icon_size;
        height: $icon_size;
      }
    }

    &_comment {
      padding-right: 14px;

      img {
        cursor: pointer;
        width: 18px;
        height: $icon_size;
      }
    }

    &_share {

      img{
        cursor: pointer;
        width: $icon_size;
        height: $icon_size;
      }
    }
  }

  &_content {
    font-size: 12px;
    line-height: 18px;
  }
}